@font-face {
    font-family: "Rubik-Black";
    src: url("font/Black.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Rubik-Medium";
    src: url("font/Medium.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Rubik-Regular";
    src: url("font/Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Rubik-Light";
    src: url("font/Light.ttf");
    font-style: normal;
}

* {
    font-family: Rubik-Light;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 110%;
}

body {
    padding-top: 100px;
}

a {
    color: inherit;
}

hr {
    border: 0px;
    margin: 20px 0px;
    height: 1px;
    background: #bed0da;
}

body {
    font-size: 16px;
    background: #eef7ff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Rubik-Medium;
    font-weight: inherit;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

p {
    font-family: Rubik-Regular;
}

img{
    pointer-events: none;
}

.noStyle {
    border-left-style: none;
    text-decoration: none;
    color: inherit;
    padding: 0px;
    margin: 0px;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.flexBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.flexStart {
    justify-content: flex-start;
}

.flexBetween {
    justify-content: space-between;
}

.dark {
    background: #3771bd;
    color: #eef7ff;
}

.light {
    background: #eef7ff;
    color: #3771bd;
}

.section {
    padding: 40px 20px;
    border-radius: 0px;
}

.button {
    cursor: pointer;
    padding: 8px 16px;
    width: max-content;
    transition: 0.3s;
    border: 0;
    font-size: 16px;
    display: block;
    min-height: 40px;
}

.button,
.button.dark {
    background: #008bd0;
    color: #ffffff;
    font-family: 'Rubik-Medium';
    line-height: 1px;
    letter-spacing: 0.5px;
}

.button:hover,
.button.dark:hover {
    background: #ffffff;
    color: #008bd0;
}

.dark .button,
.button.light {
    background: #ffffff;
    color: #008bd0;
}

.dark .button:hover,
.button.light:hover {
    background: #008bd0;
    color: #ffffff;
}

.link {
    font-family: Rubik-Light;
    color: inherit;
    text-align: right;
}

.link:after {
    content: "";
    display: block;
    width: 100%;
    background: #008bd0;
    height: 1px;
    transition: 0.3s;
}

.link:hover:after {
    width: 0;
}

.dark .link:after {
    background: #ffffff;
}

.titleBlock {
    padding: 0px 0px 40px 0px;
}


/*Главное мень*/
.main_menu {
    gap: 0px;
    width: max-content;
    /* padding: 4px 0px; */
    background: #72add7;
    border-radius: 0px;
    color: #fff;
    height: 40px;
}

.mnu_link {
    display: block;
    padding: 10px;
}

.mnu_link.parent_list {
    position: relative;
}

.mnu_parent {
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    transition: 0.3s;
    top: 40px;
    background: #ffffff;
    color: #3771bd;
    left: 0px;
    padding: 0px;
    width: max-content;
    list-style-type: none;
    margin: 0px;
}


.mnu_link.parent_list:hover .mnu_parent {
    max-height: 400px;
    box-shadow: 0px 0px 3px 0px #72add7;
    background: #f3f9ff;
}

.mnu_parent .menu_parent_link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    height: 40px;
    width: 100%;
    border-radius: 0px;
    position: relative;
    padding: 0px 20px;
}

.contacts {
    width: max-content;
}

.contactBlock {
    color: #004581;
}

.mnu_parent li {
    position: relative;
}

.mnu_parent li:before {
    content: "";
    position: absolute;
    display: block;
    height: 40px;
    background: #72add7;
    width: 0%;
    left: 0px;
    top: 0px;
    transition: 0.2s;
    z-index: 0;
}

.mnu_parent li:hover:before {
    width: 100%;
}

.mnu_parent .menu_parent_link {
    transition: 0.3s;
}

.mnu_parent .menu_parent_link:hover {
    color: #ffffff;
}

.open_menu.flexBlock {
    gap: 4px;
}

.arrows_open {
    display: flex;
    width: 18px;
    height: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.arrows_open:after {
    content: "";
    display: block;
    width: 11px;
    height: 1px;
    background: #ffffff;
    position: absolute;
    left: 0px;
    transform: rotate(-45deg);
    transition: 0.3s;
}

.arrows_open:before {
    content: "";
    display: block;
    width: 11px;
    height: 1px;
    background: #ffffff;
    position: absolute;
    right: 0px;
    transform: rotate(45deg);
    transition: 0.3s;
}

.mnu_link.parent_list:hover .arrows_open:after {
    transform: rotate(45deg);
}

.mnu_link.parent_list:hover .arrows_open:before {
    transform: rotate(-45deg);
}


/*Шапка сайта*/
.header {
    margin: 0px;
    padding: 0px 20px;
    background: #72add7;
    color: #ffffff;
    position: fixed;
    left: 0px;
    width: 100%;
    top: 0px;
}

.containerHeader {
    width: 100%;
}

.bottomLine {
    margin-top: 4px;
}


.header img {
    width: 80px;
    margin: 8px 0px;
}

p.logoText {
    font-size: 20px;
}

.topLine {
    padding-top: 4px;
}

.contactBlock {
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 8px 0px;
}

.phone {
    font-size: 20px;
    font-family: 'Rubik-Medium';
}

.contactHeader {
    gap: 30px;
    align-items: stretch;
}


/*Блок 1*/

.mainBlock {
    width: 100%;
    height: 50vh;
    background: url("../images/bg-image.png");
    background-size: cover;
    background-position: right top;
    color: #3771bd;
}

.slide {
    width: 100%;
}

.slide .content {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px;
    /* border: 1px solid #9bd5ff; */
    /* background: #ffffff63; */
    color: #fff;
}

.textInfo {
    width: 100%;
}

.slide .title {
    font-size: 60px;
    font-family: Rubik-Medium;
}

.slide .titleText {
    font-size: 36px;
    color: #9bd5ff;
}

.slide .slideText {
    font-size: 24px;
}


/*Преимущества*/

.snipets {
    padding: 20px;
    border: 1px solid #72add7;
}

.snipets h3 {
    font-size: 24px;
    margin-bottom: 8px;
    min-height: 50px;
}

.listBlock {
    align-items: stretch;
}


/*История компаниие*/
.company {
    justify-content: left;
    text-align: left;
    gap: 20px;
}

.companyInfo {
    padding: 0px 0;
    width: 50%;
}

.companyInfo p {
    margin: 8px 0px;
    color: #003e81;
}


.companyMedia {
    width: 50%;
    overflow: hidden;
    position: relative;
}

.slidePhoto {
    width: 100%;
    position: relative;
}

.slidePhoto img{
    width: auto;
    position: absolute;
    height: 400px;
}

.slideGallery {
    width: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    transition: 0.6s;
    overflow: hidden;
}
.slideGallery.active {
    width: 100%;
}

.companyContent {
    align-items: stretch;
    width: 100%;
}

.slideTitle {
    position: absolute;
    border-bottom: 20px;
    background: #3771bd;
    bottom: 0px;
    width: 100%;
    min-width: max-content;
    height: 60px;
    display: flex;
    padding: 0 40px;
    color: #fff;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.slideTitle p{
    width: max-content;
    font-size: 20px;
}

.slidersGalery {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 400px;
    background: #3771bd;
}



.slidersGalery .arrow {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 60px;
    background: #3771bd;
    position: absolute;
    right: 0px;
    z-index: 1;
    bottom: 0px;
    transition:0.3s;
    cursor: pointer;
}
.slidersGalery .arrow:hover {
    background: #72add7;
}

.slidersGalery .arrow.left{
    left: 0px;
    transform: rotate(180deg);
}
.slidersGalery .arrow:after,
.slidersGalery .arrow:before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 23px;
}
.slidersGalery .arrow:before {
    transform: rotate(-45deg);
    top: 36px;
}
